@tailwind base;
@tailwind components;
@tailwind utilities;
body, *, view {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    margin: 0;
  overflow: hidden;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
}

button:active {
    opacity: 0.6;
}


